// --- GLOBAL ---

// responsive table with fixed header - created by Petr Kudela

.app-table-head-fixed {
  margin-top: 50px;
  
  table {
    th, td {
      vertical-align: top;
      width: 16.6666%;
      
      a {
        display: inline-block;
        // FF
        white-space: pre-wrap;
        word-break: break-all;
        // Chrome, IE etc.
        word-wrap: break-word;
      }
      
      &:not(:first-child) {
        border-left: 1px solid #d0d0d0;
      }
    }
  }
  
  .app-head-wrapper {
    position: relative;
    box-shadow: 0 7px 20px -16px rgba(0, 0, 0, 0.5);
    
    // schova srollbar
    .app-head-sroll-hide {
      position: absolute;
      top: 0;
      right: 0;
      width: 18px;
      height: 100%;
      background-color: $app-color-white;
      border-bottom: 1px solid #d0d0d0;
    }
    
    // korektni sirka srollbaru, jako je v body, pak je propojeni bunek v head s body presne pro vsechny prohlizece a ve vsech OS
    .app-head-sroll-wrapper {
      overflow-y: scroll;
    } 
  }
  
  .app-body-wrapper {
    height: 600px;
    overflow-y: scroll;
    overflow-x: auto;
  }
}