// --- GLOBAL ---

// cleaners
.clearfix {
  @include clearfix();
}

.app-clear-mg {
  margin: 0 !important;
}

.app-clear-pd {
  padding: 0 !important;
}

.app-clear-border {
  border: none !important;
}

.app-clear-shadow {
  box-shadow: none !important;
}

// common
.app-cursor-pointer {
  cursor: pointer;
}
