<div class="container">
  <h3>Esta es una mesa receptiva con fixed head, caracola!</h3>
  <button (click)="toggle()">toggle</button>
  <div class="app-table-head-fixed">
    <div class="app-head-wrapper">
      <div class="app-head-sroll-hide"></div>
      <div class="app-head-sroll-wrapper">
        <table>
          <thead>
            <tr>
              <th>Fusce wisi</th>
              <th>{{text}}</th>
              <th>Class aptent</th>
              <th>Neque porro</th>
              <th>Nullam faucibus</th>
              <th *ngIf="view">Cras pede libero</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
    <div class="app-body-wrapper">
      <table class="striped">
        <tbody>
          <tr *ngFor="let row of rows">
            <td>Lorem ipsum dolor sit amet, <a href="#">consectetuer</a> adipiscing elit</td>
            <td>Fusce tellus</td>
            <td>Aliquam in lorem sit amet leo accumsan lacinia</td>
            <td>In convallis <a href="#">http://www.registrdigitalizace-a-dlouhe-url.cz</a></td>
            <td>Mauris elementum mauris vitae tortor</td>
            <td *ngIf="view">Nulla est</td>
          </tr>
        </tbody>  
      </table>
    </div>
  </div>
</div>