<div id="header">
    <div class="title">
        <a href="./"><span>$i18n.application.title</span></a>
        <br/>
        <div class="subtitle" >$i18n.header.title</div>
    </div>
    <div class="menu">

        #if($logControl.logged)
            <a href="logout.vm?redirectURL=index.vm" title="logout">user: $logControl.loggedName </a>
        #else
            #if($request.queryString)
                #set($reqAddr = '?redirectURL=' + $esc.url($request.queryString))
            #else
                #set($reqAddr = '')
            #end
            <a href="redirect.vm$reqAddr">login</a>
        #end
        <a href="registrace.vm">registrace</a>
     
     
        #if($i18n.language == 'cs')
        <a href="javascript:vdk.changeLanguage('en')">en</a>
        #else
        <a href="javascript:vdk.changeLanguage('cs')">cs</a>
        #end
        #if($logControl.hasRole('ADMIN'))
        &nbsp;<a href="admin.vm" title="administrace">admin</a>
        #end
    #parse("searchForm.vm")
    </div>
    
</div>