<div id="header">
    <div class="title"  style="float:left;">
        <a href="./"><span style="font-size:32px;color:black;font-weight:bold;">$i18n.application.title</span></a>
        <br/>
        <div class="subtitle" >$i18n.header.title</div>
    </div>
    <div style="float:right;">
        #if($logControl.logged)
            <a href="logout.vm?redirectURL=index.vm" title="logout">user: $logControl.loggedName </a>
        #else
            #if($request.queryString)
                #set($reqAddr = '?redirectURL=' + $esc.url($request.queryString))
            #else
                #set($reqAddr = '')
            #end
            <a href="redirect.vm$reqAddr">login</a>
        #end
     </div>
        <div style="text-align:right;bottom: 2px;right:2px;position: absolute;">    
        #if($i18n.language == 'cs')
        <a href="javascript:vdk.changeLanguage('en')">en</a>
        #else
        <a href="javascript:vdk.changeLanguage('cs')">cs</a>
        #end
        #if($logControl.hasRole('ADMIN'))
        &nbsp;<a href="admin.vm" title="administrace">admin</a>
        #end
        </div>
    
</div>