<div class="container">
  <h1>Home</h1>
  <div *ngIf="errorMessage" class="red white-text" style="padding: 5px 10px; border-radius: 2px"><strong>ERROR!</strong> | {{errorStatus}} | <em>{{errorMessage}}</em></div>
  <div class="row">
    <div class="col s4">
      <ul>
        <li *ngFor="let item of dk" style="padding: 5px 0">
          <img [src]="item.logo ? item.logo : nologo" style="height: 20px; margin-right: 10px;vertical-align: middle" />
          <a href="{{item.url}}" title="{{item.name}}" target="_blank">{{item.name}}</a>
        </li>
      </ul>
    </div>
    <div class="col s8">
      <button mz-button (click)="getResult()" [ngClass]="{'grey' : toogleResults}">
        <span *ngIf="!toogleResults">Show results</span>
        <span *ngIf="toogleResults">Hide results</span>
      </button><br /><br />
      <div *ngIf="toogleResults">
        <mz-card *ngFor="let result of results" [hoverable]="true">
          <mz-card-title>
            {{result.title}}
          </mz-card-title>
          <mz-card-content>
            <p>
              Authors: <em *ngFor="let author of result.authors">{{author}} </em>
            </p>
            <p>
              Publishers: <em *ngFor="let item of result.publisher">{{item}}</em>
            </p>
            <table class="striped">
              <thead>
                <tr>
                  <th>zdroj</th>
                  <th>signatura</th>
                  <th>status</th>
                  <th>dil ci kniha</th>
                  <th>rocnik/svazek</th>
                  <th>cislo</th>
                  <th>rok</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of result.table">
                  <td>
                    <a href="{{row.source.url}}" target="_blank">
                      <img *ngIf="row.source.logo" src="{{row.source.logo}}" style="height: 20px; margin-right: 10px;vertical-align: middle" />
                    </a>
                  </td>
                  <td>{{row.signature}}</td>
                  <td>{{row.status}}</td>
                  <td>{{row.type}}</td>
                  <td>{{row.volume}}</td>
                  <td>{{row.number}}</td>
                  <td>{{row.year}}</td>
                </tr>
              </tbody>
            </table>
          </mz-card-content>
          <mz-card-action>
             ({{result.table.length}}  documents  grouped by  isbn)
          </mz-card-action>
        </mz-card>
      </div>
    </div>
  </div>
</div>